[user]
  name = Michal Šrubař
  email = mmsrubar@gmail.com
  editor = vim
[alias]
  st = status
  ci = commit -a
  co = checkout
  logh = log --decorate
  lg = log --pretty=format:'%an %ad' --graph
  last = log -1 HEAD --decorate
  tree = log --oneline --decorate --graph --all
[credential]
  helper = gnomekeyring
[color]
  ui = auto
[diff]
  color = auto
[status]
  color = auto
[core]
  pager = less -x2
